<!doctype html>
<html lang="en">

<head>
    <title>Bonanza Pitch</title>

    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='img/favicon.png') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link href="{{ url_for('static', filename='styles/style.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script>

    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.min.js"></script>
    <script type="text/javascript" charset="utf-8">
        const socket = io("/lobby");
        $(document).ready(function () {
            socket.on("connect", () => {
                console.log(socket.id)
                socket.emit("req_lobby")
            });

            socket.on('lobby', function (data) {
                console.log(data)

                var container = document.getElementById("table-container");
                var content = "";

                for (const table of data) {
                    var seat_captions = [];
                    var seat_clicks = [];
                    for (const [i, seat] of table.seats.entries()) {
                        var extra;
                        var caption;
                        if (seat === null) {
                            seat_captions[i] = 'Click to JOIN'
                            seat_clicks[i] = `sit_at_table('${table.name}', ${i});`
                        } else {
                            seat_captions[i] = seat
                            seat_clicks[i] = ''
                        }
                    }

                    content += `
<div id="table_${table.name}" class="card text-white bg-success m-3">
    <div class="card-header">
        <div class="row">
            <div class="col"></div>
            <div class="col-10"><h4>${table.name}</h4></div>
            <div class="col"><button type="button" class="close" aria-label="Close" onclick="delete_table('${table.name}')"><span aria-hidden="true">&times;</span></button></div>
        </div>
    </div>
    <div class="card-body text-center">
        <h2><span style="width: 20rem;" class="badge badge-pill badge-danger m-1" onclick="${seat_clicks[0]}">${seat_captions[0]}</span></h2>
        <h2>
            <span style="width: 20rem;" class="badge badge-pill badge-dark m-1" onclick="${seat_clicks[3]}">${seat_captions[3]}</span>
            <span style="width: 20rem;" class="badge badge-pill badge-dark m-1" onclick="${seat_clicks[1]}">${seat_captions[1]}</span>
        </h2>
        <h2><span style="width: 20rem;" class="badge badge-pill badge-danger m-1" onclick="${seat_clicks[2]}">${seat_captions[2]}</span></h2>
    </div>
</div>`

                }

                container.innerHTML = content
            });
        });

        function sit_at_table(table_name, seat_idx){
            $('#form_table_name').val(table_name);
            $('#form_table_seat').val(seat_idx);
            $('#form_table').submit();
        }

        function delete_table(table_name){
            socket.emit('delete', table_name);
        }

        function create_table(){
            if($('#new_table_name').val().length > 0) {
                socket.emit('create', $('#new_table_name').val());
                $('#new_table_name').val('')
            }
        }


    </script>
</head>

<body class="text-center">

<h1 class="poker_kings">Bonanza Pitch</h1>


<div class="row">
    <div class="col">
        <form action="{{ url_for('index') }}" method="POST">
            Welcome {{ session['username'] }}!
            <button id="logout" class="btn btn-danger">Logout</button>
        </form>
    </div>
    <div class="col">
        <label for="new_table_name">Table Name</label>
        <input id="new_table_name" name="table">
        <button class="btn btn-primary" type="button" onclick="create_table();">Create</button>
    </div>
</div>


<form id="form_table" class="form-signin" action="{{ url_for('table') }}" method="POST">
    <input id="form_table_name" type="hidden" name="table">
    <input id="form_table_seat" type="hidden" name="seat">

    <div id="table-container">
    <!-- Placeholder for tables -->
    </div>
</form>

</body>

</html>