<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bonanza Pitch - {{ session.get('table') }}</title>
    <!--Link to CSS -->
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='img/favicon.png') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css?v=2021041702"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <script src="../static/js/jquery-3.6.0.min.js"></script>

    <link rel="stylesheet" type="text/css" href="../static/styles/bootstrapExtended.css?v={{ version_tick() }}">
    <link rel="stylesheet" type="text/css" href="../static/styles/cards.css?v={{ version_tick() }}">
    <link rel="stylesheet" type="text/css" href="../static/styles/BPitch.css?v={{ version_tick() }}">
    <script src="../static/js/bpitch.js?v={{ version_tick() }}"></script>

    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.min.js"></script>
    <script type="text/javascript" charset="utf-8">
        const socket = io('/table');
        const username = "{{ session.get('username') }}";
        const table = "{{ session.get('table') }}";
        const seat = {{ session.get('seat') }};

        $(document).ready(function () {
            socket.on('connect', function () {
                console.log(socket.id)
            });
            socket.on('status', function (data) {
                $('#chat').val($('#chat').val() + '<' + data.msg + '>\n');
                $('#chat').scrollTop($('#chat')[0].scrollHeight);
            });
            socket.on('message', function (data) {
                $('#chat').val($('#chat').val() + data.msg + '\n');
                $('#chat').scrollTop($('#chat')[0].scrollHeight);
            });
            socket.on('table', function (data) {
                console.log('table', data);
                RefreshTable(data);
            });
            socket.on('hand', function (data) {
                console.log('hand', data)
                DealHand(data);
            });
            socket.on('req_bid', function (data) {
                console.log('request bid', data)
                OnRequestBid(data);
            });
            socket.on('req_suit', function (data) {
                console.log('request suit', data)
                OnRequestSuit(data);
            });
            socket.on('req_deal', function (data) {
                console.log('request deal', data)
                OnRequestDeal(data);
            });
            socket.on('req_discard', function (data) {
                console.log('request discard', data)
                // TODO send back a discard
            });
            socket.on('req_play', function (data) {
                console.log('request play', data)
                OnRequestPlay(data);
            });
            socket.on('score', function (data) {
                console.log('score', data);
                // TODO update scoreboard
            });

            socket.on('kick', function () {
                leave_table();
            });

            $('#send').click(function (e) {
                text = $('#text').val();
                $('#text').val('');
                socket.emit('text', {msg: text});
            });
            $('#deal').click(function (e) {
                socket.emit('deal', {'force': true});
            });
            $('#deal_test_discard').click(function (e) {
                socket.emit('deal', {'force': true, 'test_mode': 1});
            });
            $('#add_bots').click(function (e) {
                socket.emit('add_bots');
            });
        });

        function leave_table() {
            socket.emit('leave', {}, function () {
                socket.disconnect();
                // go back to the login page
                window.location.href = "{{ url_for('lobby') }}";
            });
        }

    </script>
</head>

<body class="text-center" style="height:100vh" onload='StartGame()'>

<div id="divScoreCard" class="scorecard" style="width:200px;position:absolute;top:0%;left:0%;">
    <div  style="color:white">
        <p >
            <table id="tblCardScore" style="">

            </table>
        </p>
    </div>
</div>
<img src="../static/img/chat.png" class="chatIcon float-" onclick="HandleChatClick();">
<h3 style="height:5vh">
    <button type="button" id="add_bots" class="btn btn-info">Add Bots</button>
    <button type="button" id="deal" class="btn btn-info">Deal</button>
    <button type="button" id="deal_test_discard" class="btn btn-info">Deal (Test Discard)</button>
    <button type="button" class="btn btn-danger" onclick=leave_table()>Leave</button>
</h3>


<div id="gameTable" class="container-fluid" style="height:90vh">

    <div class="row" style="height:10vh;">
        <div id="divHandNorth" style="height:20vh;width:100%;" class="col  hand hhand-xcompact"></div>
    </div>

    <div class="row" style="height:5vh">
        <div class="col player-name">
            <span id="playerNameNorth"></span>
            <img id="kickNorth" onclick="OnKick('N');" style="display:none;" height="20px" src="../static/img/kick.png">
        </div>
    </div>
    <div class="row" style="height:5vh">
        <div id="playerStatsNorth" class="col  player-stats player-stats-NS"></div>
    </div>


    <div class="row" style="height:5vh">
        <div id="divMessage" class="col-sm player-name col-12"></div>
    </div>

    <div class="row" style="height:33vh">
        <div id="leftCol" class="col col-3 col-sm-3 col-md-2 col-lg-2 col-xl-2 col-xxl-1">
            <p id="divHandWest" class="hand hhand-xcompact"></p>
            <p class="player-name">
                <span id="playerNameWest" ></span>
                <img id="kickWest" onclick="OnKick('W');" style="display:none;" height="20px" src="../static/img/kick.png">
            </p>

            <p id="playerStatsWest" class="player-stats"></p>

        </div>

        <div id="divPlayingArea" class="col col-6 col-sm-6 col-md-8 col-lg-8 col-xl-8 col-xxl-10" style="height:100%">
            <div id="tblPlay" class="row" style="height:38vh; width:100%">
                <div class="row" style="width:100%">
                    <div class="col" style="width:100%"></div>
                    <div class="col" style="width:100%"><div id="playedCardNorth" class="playedCardTop"></div></div>
                    <div class="col" style="width:100%"></div>
                </div>
                <div class="row" style="width:100%">
                    <div class="col " style="width:100%"><div id="playedCardWest" class="playedCardLeft"></div></div>
                    <div class="col " style="width:100%"><div id="divKitty" class="hand hhand-xcompact" style="margin-left: -72px;"></div></div>
                    <div class="col " style="width:100%"><div id="playedCardEast" class="playedCardRight"></div></div>
                </div>
                <div class="row" style="width:100%">
                    <div class="col"></div>
                    <div class="col"><div id="playedCardSouth" class="playedCardBottom"></div></div>
                    <div class="col"></div>
                </div>
            </div>
        </div>
        <div id="rightCol" class="col col-3 col-sm-3 col-md-2 col-lg-2 col-xl-2 col-xxl-1">
            <p id="divHandEast" class="hand hhand-xcompact"></p>
            <p class="player-name">
                <span id="playerNameEast"></span>
                <img id="kickEast" onclick="OnKick('E');" style="display:none;" height="20px" src="../static/img/kick.png">
            </p>

            <p id="playerStatsEast" class="player-stats bid-display"></p>

        </div>
    </div>

    <div class="fixed-bottom">
        <div class="row">
            <div id="playerNameSouth" style="height:5vh" class="col player-name"></div>
        </div>
        <div class="row" style="height:5vh">
            <div id="playerStatsSouth" class="col player-stats player-stats-NS"></div>
        </div>
        <div class="row" style="height:20vh">
            <div id="divHandSouth" style="height:20vh" class="col hand hhand-compact"></div>

        </div>
    </div>
</div>

<div id="divBid" class="modal" role="dialog" aria-hidden="true">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center">
            <div class="modal-content modal-content-bid">
                <div class="modal-body">
                    <div id="bidOptions" style="z-index:6;"></div>
                </div>

            </div>
        </div>
    </div>
</div>
<div id="divHandSummary" class="modal" role="dialog" aria-hidden="true">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center">
            <div class="modal-content modal-content-bid d-flex" style="width:250px;">
                <div class="modal-body hand-summary">
                    <table id="divHandSummaryContent" style="z-index:6;">


                    </table>
                    <div id="divLeftInDeck"></div>
                    <button onclick='Deal()'>OK</button>
                </div>

            </div>
        </div>
    </div>
</div>
<div id="divSelectSuit" class="modal">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center">
            <div class="modal-content modal-content-bid">
                <section class="selectSuit">
                    <header class="selectSuit-caption">
                        <div class="modal-title-bid-message">Select a suit...</div>
                    </header>
                    <div class="selectSuit-group">
                        <div style="display: table-cell;"><img src="../static/img/diamonds.png" class="img-suit-card"
                                                               onclick="OnSelectSuit('D')"></div>
                        <div style="display: table-cell;"><img src="../static/img/clubs.png" class="img-suit-card"
                                                               onclick="OnSelectSuit('C')"></div>
                    </div>
                    <div class="selectSuit-group">
                        <div style="display: table-cell;"><img src="../static/img/hearts.png" class="img-suit-card"
                                                               onclick="OnSelectSuit('H')"></div>
                        <div style="display: table-cell;"><img src="../static/img/spades.png" class="img-suit-card"
                                                               onclick="OnSelectSuit('S')"></div>

                    </div>
                </section>
            </div>
        </div>

    </div>

</div>
<div id="divChat" class="chatwindow" style="display:none">
    <textarea id="chat" cols="70" rows="10" placeholder="No messages yet. Start one..."></textarea><br/><br/>
    <input type="text" id="text" size="60" placeholder="Enter your message here"/>
    <button type="button" id="send" class="btn btn-success">SEND</button>
    <br/><br/>
</div>

>
</body>
</html>


