<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Bonanza Pitch - {{ session.get('table') }}</title>
    <!--Link to CSS -->

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <!--<link href="../static/style.css" rel="stylesheet" />-->
    <link href="../static/styles/cards.css" rel="stylesheet" type="text/css">
	<link href="../static/styles/BPitch.css" rel="stylesheet" type="text/css">

    <script src="../static/js/jquery-3.6.0.min.js"></script>
     <!--<script src="../static/js/cards.js"></script>-->
      <script src="../static/js/bpitch.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.min.js"></script>
    <script type="text/javascript" charset="utf-8">
        const socket = io('/table');
        const username = "{{ session.get('username') }}";
        const table = "{{ session.get('table') }}";
        const seat = {{ session.get('seat') }};

        $(document).ready(function(){
            socket.on('connect', function() {
                console.log(socket.id)
            });
            socket.on('status', function(data) {
                $('#chat').val($('#chat').val() + '<' + data.msg + '>\n');
                $('#chat').scrollTop($('#chat')[0].scrollHeight);
            });
            socket.on('message', function(data) {
                $('#chat').val($('#chat').val() + data.msg + '\n');
                $('#chat').scrollTop($('#chat')[0].scrollHeight);
            });
            socket.on('table', function(data) {
                console.log('table', data);
                RefreshTable(data);
            });
            socket.on('hand', function(data) {
                console.log('hand', data)
                DealHand(data);
            });
            socket.on('req_bid', function(data) {
                console.log('hand', data)
                OnRequestBid(data);
            });

            socket.on('hand', function(data) {
                console.log('hand', data)
            });

            $('#send').click(function(e) {
                    text = $('#text').val();
                    $('#text').val('');
                    socket.emit('text', {msg: text});
            });
            $('#play').click(function(e) {
                    socket.emit('play', {card: "2H"});
            });
            $('#deal').click(function(e) {
                    socket.emit('deal');
            });
            $('#add_bots').click(function(e) {
                    socket.emit('add_bots');
            });
        });
        function leave_table() {
            socket.emit('leave', {}, function() {
                socket.disconnect();
                // go back to the login page
                window.location.href = "{{ url_for('index') }}";
            });
        }

    </script>
  </head>

  <body class="text-center" onload='StartGame()'>
<h3>
      <span class="label label-default">User: {{ session['username'] }}</span>
  <span class="label label-default">Seat: {{ session['seat'] }}</span>
  <button type="button" id="add_bots" class="btn btn-info">Add Bots</button>
  <button type="button" id="deal" class="btn btn-info">Deal</button>
  <button type="button" class="btn btn-danger" onclick=leave_table()>Leave</button>
</h3>

     <img src="../static/img/chat.png" class="chatIcon" onclick="HandleChatClick();">
    <div id="gameTable" class="container-fluid" style="height:100%">
        <div class="row" >
             <div id="divHandNorth" class="col-sm hand hhand-compact col-12" ></div>
        </div>
        <div class="row" style="height:10vh">
            <div id="playerNameNorth" class="col player-name"></div>
        </div>
         <div class="row" style="height:50vh" >

             <div id="divHandWest"  class="col-2 col-sm-2 col-md-2 col-lg-1 col-xl-1 hand vhand-compact" ></div>
             <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1" style="text-align: center;">
                <div id="playerNameWest" class="player-name player-name-west"></div>
            </div>
             <div id="divPlayingArea" class="col col-sm-6 col-md-6 col-lg-8 col-xl-8" style="height:100%" >

                 <table width="100%" style="margin-top:8vh;" >
                     <tr>
                         <td width="33%"></td>
                         <td width="33%"><div id="playedCardTop" class="playedCardTop"></div></td>
                         <td></td>
                     </tr>
                     <tr>
                         <td><div id="playedCardLeft" class="playedCardLeft"></div></td>
                         <td><div id="divKitty" class="hand hhand-xcompact active-hand" style="margin-left: -72px;" ></div></td>
                         <td><div id="playedCardRight" class="playedCardRight"></div></td>
                     </tr>
                     <tr>
                         <td></td>
                         <td><div id="playedCardBottom" class="playedCardBottom"></div></td>
                         <td></td>
                     </tr>

                 </table>
             </div>
              <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1" >
                <div id="playerNameEast" class="player-name player-name-east"></div>
            </div>
             <div id="divHandEast"  class="col-2 col-sm-2 col-md-1 col-lg-1 col-xl-1 hand vhand-compact" style="" ></div>
         </div>

        <div class="fixed-bottom" >
            <div class="row">
                <div id="playerNameSouth" class="col player-name"></div>
            </div>
            <div class="row" style="height:15vh">
                <div id="divHandSouth" class="col-sm  hand hhand-compact active-hand" ></div>
            </div>
        </div>
    </div>

    <div id="divBid" class="modal" style="display:none;">
         <div class="modal-dialog modal-dialog-centered" >
             <div class="modal-content-bid">
                <table>
                    <tr>
                       <td><div id="bidStatusMessage" class="modal-title-bid-message"></div></td>
                    </tr>
                    <tr>
                       <td><div id="bidOptions" style="z-index:6;"></div></td>
                    </tr>
                </table>
             </div>
         </div>
    </div>
    <div id="divSelectSuit" class="modal" style="display:none;">
         <div class="modal-dialog modal-dialog-centered" >
             <div class="modal-content-bid">

                <table>
                    <tr>
                       <td colspan="2"><div class="modal-title-bid-message">Select a suit...</div></td>
                    </tr>
                    <tr>
                       <td><img src="../static/img/diamonds.png" class="img-suit-card" onclick="OnSelectSuit('D')"></td>
                        <td><img src="../static/img/clubs.png" class="img-suit-card" onclick="OnSelectSuit('C')"></td>
                    </tr>
                     <tr>
                       <td><img src="../static/img/hearts.png" class="img-suit-card" onclick="OnSelectSuit('H')"></td>
                        <td><img src="../static/img/spades.png" class="img-suit-card" onclick="OnSelectSuit('S')"></td>
                    </tr>
                </table>
             </div>
         </div>
    </div>
    <div id="divChat" class="chatwindow" style="display:none">
      <textarea id="chat" cols="70" rows="10" placeholder="No messages yet. Start one..."></textarea><br /><br />
      <input type="text" id="text" size="60" placeholder="Enter your message here" />
      <button type="button" id="send" class="btn btn-success">SEND</button><br /><br />
    </div>

  </body>
</html>


