html { background-color:#800080; }
body {
	background-color:#800080;
}

.chatIcon{
	height:100px;
	position:absolute;
	right:15px;
	z-index:10;
}

.playedCardTop{
	margin-bottom:-5vh;
}
.playedCardLeft{
	transform:rotate(310deg);
	padding-left:0vw;
	margin-right:-20vw;
	margin-bottom:-5vh;
}
.playedCardRight{
	transform:rotate(60deg);
	margin-left:-20vw;
	margin-bottom:-5vh;
}
.playedCardBottom{
	margin-top:0vh;
}
.modal-content-bid {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: transparent;
    background-clip: padding-box;
    outline: 0;
}
.player-name{
	color:white;
	font-weight: bold;
	font-size: 3vh;
}


.modal-title-bid-message {
    margin-bottom: 0;
    line-height: 1.5;
	font-size:3vh;
	color:white
}

.img-suit-card{
	height:6vh;
	border: 1px solid black;
	background-color:white;
	border-radius: 25px;
}

/*body {
	position:relative;
	border-radius:8px;
	box-shadow:black 0px 0px 2px;
	width: 600px;
	background:#FFF;
	margin:20px auto;
	border:solid 1px black;
	font-family: arial, sans-serif;
	padding:50px;
}*/


#card-table {
	background-color:green;
	height:800px;
	width:600px;
	border:solid 6px brown;
	border-radius:8px;
	-webkit-border-radius:8px;
	-moz-border-radius:8px;
	-ms-border-radius:8px;
	-o-border-radius:8px;
	box-shadow:#111 1px 1px 2px;
}

