html {
	background-image: url("../img/purple-felt.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

body {
	background-color: transparent;
}

.chatIcon{
	height:100px;
	position:absolute;
	right:15px;
	z-index:10;
}

.playedCardTop{
	margin-bottom:-5vh;
}
.playedCardLeft{
	transform:rotate(310deg);
	padding-left:0vw;
	margin-right:-20vw;
	margin-bottom:-5vh;
}
.playedCardRight{
	transform:rotate(60deg);
	margin-left:-20vw;
	margin-bottom:-5vh;
}
.playedCardBottom{
	margin-top:0vh;
}
.modal-content-bid {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: transparent;
    background-clip: padding-box;
    outline: 0;
}
.player-name{
	color:white;
	font-weight: bold;
	font-size: 3vh;
	white-space: nowrap;
	text-align:center;
	width:100%;
}
.player-name-west{
	transform-origin:top left;
	position: absolute;
    top: 50%;
    left: 50%;
	transform:    rotate(90deg) translateX(15vh) translateY(-1vh);
	/*transform:  translateY(15vh) rotate(90deg);*/
}

.player-name-east{
	transform-origin:top left;
	position: absolute;
    top: 50%;
    left: 50%;
	transform: rotate(-90deg) translateX(-30vh) translateY(-3vh)  ;
}

.modal-title-bid-message {
    margin-bottom: 0;
    line-height: 1.5;
	font-size:3vh;
	color:white;
	text-align:center;
}

.img-suit-card{
	height:8vh;
	border: 1px solid black;
	background-color:white;
	border-radius: 25px;
	padding:20px;
}

/*body {
	position:relative;
	border-radius:8px;
	box-shadow:black 0px 0px 2px;
	width: 600px;
	background:#FFF;
	margin:20px auto;
	border:solid 1px black;
	font-family: arial, sans-serif;
	padding:50px;
}*/


#card-table {
	background-color:green;
	height:800px;
	width:600px;
	border:solid 6px brown;
	border-radius:8px;
	-webkit-border-radius:8px;
	-moz-border-radius:8px;
	-ms-border-radius:8px;
	-o-border-radius:8px;
	box-shadow:#111 1px 1px 2px;
}

.vertical-alignment-helper {
display:table;
height: 100%;
width: 100%;
pointer-events:none;}

.vertical-align-center {
/* To center vertically */
display: table-cell;
vertical-align: middle;
pointer-events:none;}

.modal-content {
/* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
width:inherit;
max-width:inherit; /* For Bootstrap 4 - to avoid the modal window stretching
full width */
height:inherit;
/* To center horizontally */
margin: 0 auto;
pointer-events:all;}