img.pcard {
	height: 16vh;
	margin: 0;
	/*padding: 0;*/
	border: 0;
	vertical-align: initial;
	box-sizing: initial;
}
img.pcard-grayed {
	height: 16vh;
	margin: 0;
	/*padding: 0;*/
	border: 0;
	vertical-align: initial;
	box-sizing: initial;
	opacity: .5;
	z-index: -1;
}
img.pcard-small {
	height: 8vh;
	margin: 0;
	/*padding: 0;*/
	border: 0;
	vertical-align: initial;
	box-sizing: initial;
}

/*
 * A hand is a div containing pcards.
 */
.hand {
	padding: 0;
	margin: 0;
}
.active-hand img.pcard { 
	cursor: pointer;
}

.top-hand{}

/*
 * A horizontal hand, class="hand hhand".  The enitire pcard is visible.
 */
.hhand {
	display: inline-block; 
}
.hhand img.pcard { 
	padding-top: 10px;
}
.hhand.active-hand img.pcard:hover { 
	padding-top: 0px;
	padding-bottom: 10px;
}

/*
 * A vertical hand, class="hand vhand".  The enitire pcard is visible.
 */
.vhand {
	display: block; 
}
.vhand img.pcard { 
	padding-right: 10px;
}
.vhand.active-hand img.pcard:hover { 
	padding-right: 0px;
	padding-left: 10px;
}

/*
 * A compact horizontal hand.  Only the last pcard is entirely visible.
 */
.hhand-compact { 
	display: inline-block; 
}
.hhand-compact img.pcard:first-child { 
	margin-left: 0px;
	padding-top: 10px;
}
.hhand-compact img.pcard { 
	margin-left: -8vh;
	padding-top: 10px;
}
.hhand-compact.active-hand img.pcard:hover { 
	padding-top: 0px;
	padding-bottom: 10px;
}

/*
 * An extra compact horizontal hand.  Only the last pcard is entirely visible.
 */
.hhand-xcompact {
	display: inline-block;
}
.hhand-xcompact img.pcard-small:first-child {
	margin-left: 0px;
	padding-top: 10px;
}
.hhand-xcompact img.pcard-small {
	margin-left: -5.5vh;
	padding-top: 10px;
}

/*
 * A compact vertical hand.  Only the last pcard is entirely visible.
 */
.vhand-compact {
	display: inline-block;
	vertical-align: top;
}
.vhand-compact img.pcard:first-child { 
	display: block; 
	margin-top: 0px;
	padding-right: 10px;
}
.vhand-compact img.pcard 
{
	display: block; 
	margin-top: -80px;
	padding-right: 10px;
}
.vhand-compact.active-hand img.pcard:hover,
.active-hand .vhand-compact img.pcard:hover {
	display: block; 
	padding-right: 0px;
	padding-left: 10px;
}

/*
 * A fanned hand.  Only the last pcard is entirely visible.
 */
.fan {
	display: inline-block;
	vertical-align: top;
	position: relative;
	padding-bottom: 1em;
}
.fan img.pcard { 
	position: absolute;
	width: 90px;
}
